@font-face {
    font-family: 'Arimo', sans-serif;
    src: url('https://dl.dropboxusercontent.com/s/82eb7avq9a10xyl/one-punch-man.ttf?dl=0') format("truetype");
}

html, body {
  background-color: tomato;
  width: 100%;
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  animation-name: colorchange;
  animation-duration: 50s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.wrapper {
  text-align: center; 
  display: table;
  height: 100%; 
  width: 100%;
}

.wrapper h1 {
  font-family: 'Arimo', sans-serif;
  font-size: 120px;
  font-weight: 100;
  display: table-cell; 
  vertical-align: middle;
  color: #fff;
  text-transform: lowercase;
}

@keyframes colorchange {
  0%   { background: #FFCCCC; }
  25%  { background: #3782DE; }
  50%  { background: #EC441E; }
  75%  { background: #2E7FE1; }
  100% { background: #F7CB44; }
}
